{% extends 'index.html' %}
{% block header%}
{% endblock %}
{% block banner%}
{% endblock%}

{% block content %}
<div class="col-md-12 text-center p-5">	
	<h2>Borrar atleta</h2>
	<h5 class="m-5"> Seguro quieres eliminar al atleta: </h5>
	<form method="POST">
		{% csrf_token %}
		{{object.nombre_atleta}} {{object.apellido_atleta}}
		<hr>
		<button type="submit" class="btn btn-outline-danger"> Borrar</button>
		<a href="{% url 'registro:listado_atletas'%}" class="btn btn-outline-success"> No borrar</a>
	</form>
</div>
{% endblock %}

