{% extends 'index.html' %}
{% block banner %}
{% endblock %}
{% block content %}
<div class="container m-5 p-5" style="background-color: #f2f2f2f2">
	<div class="row">
		<div class="col-md-12  text-center ">
				<h3 class="text-uppercase"><span class="fa fa-user"></span> Edicion de atletas</h3>
		</div>

		<div class="col-md-10 mt-5 offset-md-1 text-left">
			{% if form %}
				<form class="form" method="POST" >
					{% csrf_token %}
				<table class="table">
				<tr>
					<td><h5>Nombre</h5>
					{{form.nombre_atleta}}</td>
					<td><h5>Apellido</h5>
					{{form.apellido_atleta}}</td>
				</tr>
				<tr>
					<td><h5>Edad</h5>
					{{form.edad_atleta}}</td>
					<td><h5>Correo Electronico</h5>
					{{form.correo_atleta}}
					<p id="alerta_correo" style="color:red"></p>
				</td>
					
				
					
				</tr>
				<tr>
					<td><h5>Identificacion</h5>	
					{{form.identificacion_atleta}}
				<p id="alerta_cedula" style="color:red"></p></td>
					
					<td><h5>Categoria</h5>
					{{form.categoria_atleta}}</td>

					<td><h5>Talla Atleta</h5>
					{{form.talla_atleta}}</td>
				</tr>
				</table>
				<br>
					<div class="text-center">
					<button type="submit" class="btn btn-lg btn-primary mt-6 animated pulse infinite" id="boton-registro">Editar</button>
					</div>
				</form>
			{% endif %}
				
				
				
		</div>	
	</div>
</div>
{% endblock %}