{% extends 'index.html'%}
{% block header%}
{% load staticfiles %}
<header id="mobil_head">
	<div class="container-fluid bg-success">
		<div class="col-md-12 bg-info p-2"></div>
			<nav class="pt-md-4 d-lg-flex" style="border-bottom: 3px solid black;background-color: rgba(51,255,50,0.9);padding-right:5%;padding-left:5%;">

			<div class="col-md-5">
					<div id="logo">
						<a href="{% url 'index'%}"><img src="{% static 'images/logo.png'%}" width="35%"></a>
						<h3 class="mb-3 text-left" style="color:#f2f2f2;font-weight: bold"> ABRIL 7 2019 </h3>
						<!-- <h3> <a href="{% url 'index'%}"><span style="color:#006600"><strong>MEDIA</strong></span>  MARATÓN<span class="text-danger" style="font-weight: bold"> VILLAVICENCIO</span></a> <br> </h3> -->			
					</div>
			</div>

			<div class="col-md-7 text-right"> 
				<div id="logo_header">
							<a href="https://www.imdervillavicencio.gov.co"><img data-aos="flip-left" data-aos-duration="1000" src="{% static 'images/logo_imder.png'%}" width="15%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>		
							<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="1000" src="{% static 'images/Logo_alcaldia.png'%}" width="15%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>
							<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="2000" src="{% static 'images/logo_federacion.png'%}" width="17%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
							<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="3000" src="{% static 'images/Logo_liga_2.png'%}" width="14%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
				</div>
					
						<ul class=" mt-lg-1 text-left" id="main_menu">	
						<div class=" col-md-12 p-1 mt-1 bg-info">
							</div>
						<li class="active"><a  href="{% url 'index'%}"><span class="fa fa-home blue_icon text-dark"></span>  Inicio</a></li>
						<li class="text-info">|</li>
						<li><a href="{% url 'registro:registro' %}"><span class="fas fa-sign-in-alt blue_icon text-dark "></span> Inscripción</a></li>
						<li class="text-info">|</li>
						
						<li><a href="{% url 'registro:listado_atletas' %}"><span class="fa fa-user-shield blue_icon text-dark"></span> 
						Ver Atletas</a></li>
						</ul>		
							
			</nav>		
		</div>
	</div>	
</header>

<header id="mobil_head_2">
	<div class="container" style="border-bottom: 3px solid black;background-color: rgba(51,255,50,0.9);padding-left:5%;position:absolute;left:0px;top:0px">
		<div class="row">
			<div class="col-sm-6 text-center">
					
						<a href="{% url 'index'%}"><img src="{% static 'images/logo.png'%}" width="35%"></a>
						<h4 style="color:#f2f2f2;font-weight: bold"> ABRIL 7 2019 </h4>
						<!-- <h3> <a href="{% url 'index'%}"><span style="color:#006600"><strong>MEDIA</strong></span>  MARATON<span class="text-danger" style="font-weight: bold"> VILLAVICENCIO</span></a> <br> </h3> -->	
										<div id="logo_header" class="pb-2">
								<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="1000" src="{% static 'images/Logo_alcaldia.png'%}" width="15%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>
								<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="2000" src="{% static 'images/logo_federacion.png'%}" width="17%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
								<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="3000" src="{% static 'images/Logo_liga_2.png'%}" width="14%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
						</div>		
			
		
				</div>
		<nav class="d-lg-flex text-right"  style="position: fixed;float: left">
			<label for="drop" class="toggle bg-primary" ><span class="fa fa-bars "></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mx-5 mt-lg-4 ml-auto">
								<li class="active"><a  href="{% url 'index'%}"><span class="fa fa-home blue_icon text-dark"></span>  Inicio</a></li>					
			</ul>
		</nav>
			</div>
		</div>
</header>

{% endblock %}
{% block banner %}
{% endblock %}
{% block content %}


	<section id="face" style="background-color: #5bc0de">
			<div class="container pt-3" id="main_image_login" style="background-color: #f2f2f2">
				<div class="row p-5" id="sub_main_image">
					<div class="col-md-6 offset-md-3  text-center p-3" id="form">
					<h4 class="text-uppercase">Solo administradores pueden ver la lista de corredores</h4>
						<h5 class="text-uppercase mt-3 mb-3">Ingresa los datos</h5>
							<form method="POST" class="form">

								{% csrf_token %}

								<h6>Nombre de usuario</h6> <input type="text" name="username" class="form-control" required>
								<br>	
								<h6>Contraseña</h6> <input type="password" name="password" class="form-control" required>
								<br>
								<button type="submit" class="btn btn-lg btn-dark " id="boton"> Ingresar</button>
								
							</form>
							<br>

							
					</div>
				</div>		
			</div>
	</section>
	


{% endblock %}

{%block datos%}
{% endblock %}
