<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
<title>Media Maraton Villavicencio 2019</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static 'images/logo.png'%}">
<meta name="keywords" content=",media maraton villavicencio,media maraton villavicencio 2019,carrera atletica villavicencio 2019,villavicencio atletismo,carrera 10k villavicencio 2019,carrera silla de ruedas villavicencio 2019,media maraton meta 2019,maraton villavicencio 2019" />
<meta name="description" content="Participa en el evento atletico mas importante de Villavicencio, Media maraton villavicencio 2019 , en sus diferentes modalidades, Media maraton, Carrera 10K y la categoria especial de silla de ruedas.">
<meta name="theme-color" content="#35AD1E" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
	
	<!-- css files -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' /><!-- custom css -->
    <link href="{% static 'css/animate.css' %}" rel='stylesheet' type='text/css' />
    <meta name="google-site-verification" content="dMkyCxvsjTlQfFciAeJokDUC8Qn0zcTIMN-3uIaBLrs" />
    
    
       
	<!-- //css files -->
	
	<link href="{% static 'css/css_slider.css' %}" type="text/css" rel="stylesheet" media="all">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


	<!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cairo" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
	<!-- //google fonts -->
	  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

</head>
<body>

<div class="container-fluid pt-5 loader text-center" id="loader">
	<img src="{%static 'images/preloader.gif'%}" class="img-responsive">
	<h1 style="color: white"><spam style="color:#e54848"><strong>Media Maratón</strong></spam><span class="text-info"><strong> Ciudad De Villavicencio</strong> </span></h1>
	<h2 class="animated pulse infinite text-center text-success mt-5">Cargando</h2>
	
</div>


	  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>

<!-- header -->
<!-- background-color: rgba(36,109,19,0.9); -->
{% block header %}
<header id="mobil_head" >
	<div class="container-fluid" id="index">
		
			<nav class="pt-md-1 d-lg-flex" style="border-bottom: 3px solid black;background-color: rgba(51,255,50,0.9);padding-right:5%;padding-left:5%;position:fixed;width: 100%;left:0px;top:0px">

			<div class="col-md-5">
				<div class="col-md-12">
					<div id="logo">

						<a href="{% url 'index'%}"><img src="{% static 'images/logo.png'%}" width="35%" data-aos="fade-right" data-aos-duration="1500"></a>
						
							
						<h1> <a href="{% url 'index'%}"><span class="text-info"><strong>MEDIA</strong></span><span style="color:#303030;font-weight: bold">  MARATÓN</span><span class="text-danger" style="font-weight: bold"> VILLAVICENCIO </span></a>  </h1>			
				
					</div>
					</div>
					<div class="col-md-12">
						<h6 class="text-left" style="color:#303030;font-weight: bold"> <br> ABRIL 7 2019 </h6>	
					</div>
			</div>
				
			<div class="col-md-7 text-right"> 
				<a style="position: fixed;right:0" href="{% url 'registro:listado_atletas' %}" alt="Solo Administroadores"><span class="fa fa-user-shield blue_icon text-dark"></span> </a>
				<div id="logo_header">
							<a href="https://www.imdervillavicencio.gov.co"><img data-aos="flip-up" data-aos-duration="1000" src="{% static 'images/logo_imder.png'%}" width="15%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>		
							<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-up" data-aos-duration="2000" src="{% static 'images/Logo_alcaldia.png'%}" width="15%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>
							<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-up" data-aos-duration="3000" src="{% static 'images/logo_federacion.png'%}" width="17%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
							<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-up" data-aos-duration="4000" src="{% static 'images/Logo_liga_2.png'%}" width="14%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
							
				</div>
					
						  
						    
						  
						<ul class=" mt-lg-1 text-left" id="main_menu">	
						<div class=" col-md-12 p-1 mt-1 bg-info">
							</div>
						<li class="active"><a  href="#index" class="text-dark"><span class="fa fa-home blue_icon text-dark"></span>  Inicio</a></li>
						
						<li><!-- <a href="{% url 'registro:registro' %}" class="text-dark"><span class="fas fa-sign-in-alt blue_icon text-dark "></span> Inscripción</a>< -->
							
							 <a class="btn btn-outline-secondary dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:inline-block">
							  <span class="fas fa-code-branch text-dark" style="font-size: 20pt"></span>  Competencia
							  </a>

							  <div class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink1">
							    <a href="#media"><span class="fa fa-running text-dark"></span> Media Maraton</a>
							    <a href="#10k"><span class="fa fa-walking text-dark"></span> Carrera 10K</a>
							    <a href="#silla"><span class="fab fa-accessible-icon text-dark"></span> Silla De Ruedas 10K </a>
							    
							  </div>
							
						</li>
						
						<li>
						<div>
							  <a class="btn btn-outline-secondary dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:inline-block">
							  <span class="fas fa-running text-dark" style="font-size: 20pt"></span>  Corredor
							  </a>

							  <div class="dropdown-menu bg-info" aria-labelledby="dropdownMenuLink">
							    <a href="#rules"><span class="fa fa-clipboard-list text-dark"></span> Reglamento</a>
							    <a href="#prize"><span class="fa fa-medal text-dark"></span> Premiación</a>
							    <a href="#detalles"><span class="fa fa-map-marked-alt text-dark"></span> Detalles de ruta</a>
							    
							  </div>
							</div>
						</li>
						
						
						<li>
							<a href="#partner" class="text-dark"><span class="fa fa-puzzle-piece text-dark"></span> Organizadores</a></li>
					

						</ul>		

							
			</nav>		

		</div>

	</div>	
</header>



<header id="mobil_head_2" >
	<div class="container" id="indexm" style="border-bottom: 3px solid black;background-color: rgba(51,255,50,0.9);;padding-left:5%;position:fixed;left:0px;top:0px">
		<div class="row">
			<div class="col-sm-6 text-center">
					
						<a href="{% url 'index'%}"><img src="{% static 'images/logo.png'%}" width="35%"></a>
						<h4 style="color:#f2f2f2;font-weight: bold"> ABRIL 7 2019 </h4>
						<!-- <h3> <a href="{% url 'index'%}"><span style="color:#006600"><strong>MEDIA</strong></span>  MARATÓN<span class="text-danger" style="font-weight: bold"> VILLAVICENCIO</span></a> <br> </h3> -->	
						<div id="logo_header" class="pb-2">
								<a href="https://www.imdervillavicencio.gov.co"><img data-aos="flip-left" data-aos-duration="1000" src="{% static 'images/logo_imder.png'%}" width="16%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>			
								<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="1000" src="{% static 'images/Logo_alcaldia.png'%}" width="15%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>
								<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="2000" src="{% static 'images/logo_federacion.png'%}" width="17%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
								<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="3000" src="{% static 'images/Logo_liga_2.png'%}" width="14%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
						</div>		
			
		
				</div>
		<nav class="d-lg-flex text-right"  style="position: fixed;float: left">
			<label for="drop" class="toggle bg-primary" ><span class="fa fa-bars "></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mx-5 mt-lg-4 px-5 ml-auto" style="background-color:#f2f2f2; border-radius: 10px">
						<div class="col-md-12 bg-info py-1"></div>
						<div class="col-md-12 bg-success py-1"></div>
						<div class="col-md-12 bg-danger py-1"></div>
						<li><a href="#indexm"><span class="fa fa-home blue_icon text-dark"></span>  Inicio</a></li>
						
						<li><a href="{% url 'registro:registro' %}"><span class="fas fa-sign-in-alt blue_icon text-dark "></span> Inscripción</a></li>
						
						<li><a href="{% url 'registro:listado_atletas' %}"><span class="fa fa-user-shield blue_icon text-dark"></span> 
						Ver Atletas</a></li>
						
						<li><a href="#rules"><span class="fa fa-clipboard-list blue_icon text-dark"></span> Reglamento</a></li>
						
						<li><a href="#prize"><span class="fa fa-award blue_icon text-dark"></span> Premiacion</a></li>
						
						<li><a href="#media"><span class="fa fa-running blue_icon text-dark"></span> 
						Media Maratón</a></li>
						
						<li><a href="#10k"><span class="fa fa-walking blue_icon text-dark"></span> 
						Carrera 10k</a></li>
						
						<li><a href="#silla"><span class="fab fa-accessible-icon blue_icon text-dark"></span> 
						Silla de ruedas 10K</a></li>
						
			</ul>
		</nav>
			</div>
		</div>
</header>



<style type="text/css">
#logo_header img{
	padding: 0%;
	transition: 1s;
}
	#logo_header img:hover{ 
		padding:1%;
		transition: 1s;
	 }
}

</style>
<!-- //header -->

<!-- banner -->
{% endblock %}
{% block banner %}

<section class="banner_w3lspvt">
	<div class="csslider infinity" id="slider1">
		<input type="radio" name="slides" checked="checked" id="slides_1" />
		<input type="radio" name="slides" id="slides_2" />
		<input type="radio" name="slides" id="slides_3" />
		
		<ul>
			<li>
				<div class="banner-top">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info">
								<h3 class="text-wh pb-3">Participa en el evento atletico mas importante de <span class="text-info">Villavicencio</span></span></h3>						
							</div>
						</div>
					</div> 
				</div>
			</li>
			<li>
				<div class="banner-top1">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info">
			
								<h3 class="text-wh">Conoce El Reglamento De La Competencia </h3>
								
								<a href="#reglamento" class="button-style mt-4 mr-2">Reglamento De La Competencia</a>
								
							</div>
						</div>
					</div>
				</div>
			</li>
			<li>
				<div class="banner-top2">
					<div class="overlay">
						<div class="container">
							<div class="w3layouts-banner-info">
								<h3 class="text-wh">Carrera  Atletica <span class="text-info">10 kilometros </span></h3>
								<h4 class="text-wh">Pon a prueba tu resistencia <span>carrera amateur 10k</span></h4>
								<a href="#10k" class="button-style mt-4 mr-2">Carerra 10 K</a>
								
							</div>
						</div>
					</div>
				</div>
			</li>

		</ul>
		<div class="arrows">
			<label for="slides_1"></label>
			<label for="slides_2"></label>
			<label for="slides_3"></label>
			<label for="slides_1"></label>
		</div>
	</div>
</section>
{% endblock %}
<!-- //banner -->

{% block content_free %}
{% endblock %}


{% block content %}
<!-- <style type="text/css">
	body{background-color: #d9534f}
</style> -->

		<section class="container-fluid bg-info" id="media" >
			<div>
					<p></p>	
					<p></p>	
					<p>.</p>	
				<br>
				<br>
			</div>
		</section>

<div style="width: 100%"> 
<section class="about" style="background-image: url('{% static 'images/fondo-maraton.jpg' %}')"> 


	<div class="container-fluid p-md-5 p-xs-0 p-sm-0" >
		<div class="row about-grids p-5" style="background-color:rgba(0,0,0,0.8)">
			<div class="col-lg-8">
				<h1 class="mt-lg-3 text-light mt-5 home"><span class="fas fa-flag-checkered"></span> MEDIA MARATÓN</h1>
				<h3 class="mt-lg-3 text-light mt-5 garden"><span class="fas fa-flag-checkered"></span> MEDIA MARATÓN</h3>
				<h5 class="plane mt-md-4 mt-3 text-light mt-5">RETA  TU CAPACIDAD  CON <span> 21 KILOMETROS DE RECORRIDO</span></h5>
				<p class=""></p>
				<p class=""></p>
				<h1 class="text-center home" style="margin-top:5%;color:#f2f2f2"><span class="fa fa-map-marker-alt animated bounce infinite"></span> 
				PARQUE GUAYURIBA</h1>
				<h1 class="text-center home mt-3" style="color:#f2f2f2"><span class="fa fa-clock animated pulse infinite"></span> 
				SALIDA 8:00 AM</h1>

				<h3 class="text-center garden" style="margin-top: 10%;color:#f2f2f2"><span class="fa fa-map-marker-alt animated bounce infinite"></span> 
				PARQUE GUAYURIBA</h3>
				<h3 class="text-center garden" style="margin-top: 10%;color:#f2f2f2"><span class="fa fa-clock animated pulse infinite"></span> SALIDA 8:00 AM</h3>
				
				<div  data-aos="fade-left" data-aos-duration="2000" class="p-2">
				<a class="btn btn-lg btn-primary btn-outline-primary inscribete animated pulse infinite p-3 mt-5 " href="{% url 'registro:registro' %}" ><span class="fa fa-running text-primary inscrilogo"></span> Inscribete <span class="sr-only"></span></a>

				<a class="btn btn-lg btn-outline-success pago animated pulse infinite p-3 ml-3 mt-5 " href="{% url 'registro:pago_atrasado' %}" ><span class="fa fa-money-bill text-success pago_logo"></span> Pagar Inscripcion <span class="sr-only"></span></a>
				</div>
			
				

			</div>
			<div class="col-lg-4 col-md-8 pr-1 mt-5 bg-success" data-aos="flip-left" data-aos-duration="2000">
				
					<div class="row">	
								<div class="col-md-12 p-4  text-center text-uppercase bg-info"><h4 style="color:#f2f2f2">	Mayores </h4></div>
								<div class="col-md-12 p-2  text-center text-uppercase"><h5>	20 - 39 Años </h5></div>
								<div class="col-md-12 p-4  text-center text-uppercase bg-info"><h4 style="color:#f2f2f2">	Veteranos </h4></div>
								<div class="col-md-12 p-2  text-center text-uppercase"><h5>	40 - 49 Años </h5></div>
								<div class="col-md-12 p-4  text-center text-uppercase bg-info"><h4 style="color:#f2f2f2">	Veteranos Plus </h4></div>
								<div class="col-md-12 p-2  text-center text-uppercase"><h5>	Mayores de 50 años </h5></div>
					</div>	

				
			</div>
		</div>
	</div>
</section> 

			<section class="container-fluid bg-info">
				<div>
						<p  id="10k" ></p>	
					<br>
					<br>
					<br>
					<br>
				</div>
			</section>



	
<section class="about home">
	<div class="container-fluid px-md-5 px-xs-0 px-sm-0  py-lg-5" style="background-image: url('{% static 'images/banner3.jpg'%}');background-repeat: no-repeat;  background-attachment:fixed;  background-position: top; " >
		
		<div class="row about-grids p-5" style="background-color:rgba(5,5,5,0.9)">
				
			<div class="col-lg-4 col-md-8 pr-1 mt-5 bg-success text-right" data-aos="flip-left" data-aos-duration="2500">
				
					<div class="row">	

								<div class="col-md-12 p-4  text-center text-uppercase bg-info"><h4 style="color:#f2f2f2">	Juvenil </h4></div>
								<div class="col-md-12 p-2  text-center text-uppercase"><h5>	18 - 19 Años </h5></div>
								<div class="col-md-12 p-4  text-center text-uppercase bg-info"><h4 style="color:#f2f2f2">	mayores </h4></div>
								<div class="col-md-12 p-2  text-center text-uppercase"><h5>	20 - 39 Años </h5></div>
								<div class="col-md-12 p-4  text-center text-uppercase bg-info"><h4 style="color:#f2f2f2">	Veteranos  </h4></div>
								<div class="col-md-12 p-2  text-center text-uppercase"><h5>	40 - 49 Años </h5></div>
								<div class="col-md-12 p-4  text-center text-uppercase bg-info"><h4 style="color:#f2f2f2">	Veteranos Plus </h4></div>
								<div class="col-md-12 p-2  text-center text-uppercase"><h5>	Mayores de 50 años </h5></div>
								
					</div>	

				
			</div>

			<div class="col-lg-8">
				<h1 class="mt-lg-3 ml-5 text-light pt-xs-3 pt-sm-3"> <span class="fa fa-walking"></span> CARRERA 10 K </h1>
				<h5 class="plane mt-md-4 mt-3 ml-5 text-light text-justify">UNA CARRERA PARA AFICIONADOS <span> QUE VIVEN EL ATLETISMO DE UNA MANERA PROFESIONAL</span></h5>
				<div data-aos="zoom-in" data-aos-duration="2500">
				<h1 class="text-center home" style="margin-top:5%;color:#f2f2f2"><span class="fa fa-map-marker-alt animated bounce infinite"></span> 
				PARQUE GUAYURIBA</h1>
				<h1 class="text-center home mt-3" style="color:#f2f2f2"><span class="fa fa-clock animated pulse infinite"></span> 
				SALIDA 8:30 AM</h1>

				<h3 class="text-center garden" style="margin-top: 10%;color:#f2f2f2"><span class="fa fa-map-marker-alt animated bounce infinite"></span> 
				PARQUE GUAYURIBA</h3>
				<h3 class="text-center garden" style="margin-top: 10%;color:#f2f2f2"><span class="fa fa-clock animated pulse infinite"></span> SALIDA 8:00 AM</h3>
				<div>

				<div  data-aos="fade-left" data-aos-duration="1000" class="text-right p-2">
					<div>
						<br>
						<a class="btn btn-lg btn-primary btn-outline-primary inscribete mt-5 p-3 animated pulse infinite" href="{% url 'registro:registro' %}" ><span class="fa fa-running text-primary inscrilogo"></span> Inscribete <span class="sr-only"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="about garden">
	<div class="container-fluid px-md-5 px-xs-0 px-sm-0  py-lg-5" style="background-image: url('{% static 'images/banner3.jpg'%}');background-repeat: no-repeat;  background-attachment:fixed;  background-position: top; " >
		
		<div class="row p-5 about-grids" style="background-color:rgba(5,5,5,0.9)">

	<div class="col-lg-8">
				<h4 class="mt-lg-3 ml-5 text-light pt-xs-3 pt-sm-3"> <span class="fa fa-walking"></span> CARRERA 10 K </h4>
				<h5 class="plane mt-md-4 mt-3 ml-5 text-light">UNA CARRERA PARA AFICIONADOS <span> QUE VIVEN EL ATLETISMO DE UNA MANERA PROFESIONAL</span></h5>
				<div data-aos="zoom-in" data-aos-duration="2500">
					<h1 class="text-center home" style="margin-top:5%;color:#f2f2f2"><span class="fa fa-map-marker-alt animated bounce infinite"></span> 
				PARQUE GUAYURIBA</h1>
				<h1 class="text-center home mt-3" style="color:#f2f2f2"><span class="fa fa-clock animated pulse infinite"></span> 
				SALIDA 8:30 AM</h1>

				<h3 class="text-center garden" style="margin-top: 10%;color:#f2f2f2"><span class="fa fa-map-marker-alt animated bounce infinite"></span> 
				PARQUE GUAYURIBA</h3>
				<h3 class="text-center garden" style="margin-top: 10%;color:#f2f2f2"><span class="fa fa-clock animated pulse infinite"></span> SALIDA 8:00 AM</h3>
				<div>

				<div  data-aos="fade-left" data-aos-duration="1000" class="text-right p-2">
					<div>
						<br>
						<a class="btn btn-lg btn-primary btn-outline-primary inscribete mt-5 p-3 animated pulse infinite" href="{% url 'registro:registro' %}" ><span class="fa fa-running text-primary inscrilogo"></span> Inscribete <span class="sr-only"></span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
				
			<div class="col-lg-4 col-md-8 pr-1 mt-5 bg-success text-right" data-aos="flip-left" data-aos-duration="2500">
				
					<div class="row">	

								<div class="col-md-12 p-4  text-center text-uppercase bg-info"><h4 style="color:#f2f2f2">	Juvenil </h4></div>
								<div class="col-md-12 p-2  text-center text-uppercase"><h5>	28 - 19 Años </h5></div>
								<div class="col-md-12 p-4  text-center text-uppercase bg-info"><h4 style="color:#f2f2f2">	mayores </h4></div>
								<div class="col-md-12 p-2  text-center text-uppercase"><h5>	20 - 39 Años </h5></div>
								<div class="col-md-12 p-4  text-center text-uppercase bg-info"><h4 style="color:#f2f2f2">	Veteranos  </h4></div>
								<div class="col-md-12 p-2  text-center text-uppercase"><h5>	40 - 49 Años </h5></div>
								<div class="col-md-12 p-4  text-center text-uppercase bg-info"><h4 style="color:#f2f2f2">	Veteranos Plus </h4></div>
								<div class="col-md-12 p-2  text-center text-uppercase"><h5>	Mayores de 50 años </h5></div>
								
					</div>	

				
			</div>

	
			
</section> 

<section class="container-fluid bg-info">
	<p  id="silla" ></p>	
	<div>
			<p >.</p>
	<p >.</p>
	<p >.</p>
	

	</div>	
	</div>
	<div>
</section>

<div>


<section class="silla">
<div class="container-fluid text-center" style="background-image: url('{% static 'images/silla_ruedas.jpg'%}'); background-position:center;" >
		<div class="row p-5" style="background-color:rgba(5,5,5,0.8)">	
		<div class="col-lg-12">
				<h1 class="mt-lg-3 ml-5 text-light"><span class="fab fa-accessible-icon"></span> SILLA DE RUEDAS 10 K </h1>
				<h5 class="plane mt-md-4 mt-3 ml-5 mb-5 text-light">UNA COMPETENCIA <span class="text-info"> PARA ATLETAS SIN BARRERAS </span></h5>
			<div data-aos="flip-left" data-aos-duration="2000" >
				<div class="col-md-4 offset-md-4 p-4  text-center text-uppercase bg-info"><h5 style="color:#f2f2f2"> CATEGORIA </h5></div>
				<div class="col-md-4 offset-md-4 p-4  text-center text-uppercase bg-success"><h5 style="color:#f2f2f2"> UNICA</h5></div>
			</div>
				<p class=""></p>
				<h1 class="text-center home" style="margin-top: 3%;color:#f2f2f2"><span class="fa fa-map-marker-alt animated bounce infinite"></span> 
				PARQUE GUAYURIBA</h1>
				<h1 class="ml-5" style="margin-top: 3%;color:#f2f2f2"><span class="fa fa-clock animated pulse infinite"></span> SALIDA 8:30 AM</h1>
				<div class="text-center">
					<a class="btn btn-lg btn-primary mt-5 p-3 animated pulse infinite" href="{% url 'registro:registro' %}"><span class="fa fa-running text-dark"></span> Inscribete <span class="sr-only"></span></a>
				</div>
			</div>
		</div>	
</div>	
</section>
<!-- //about -->

<!-- about bottom -->

<section class="container-fluid bg-info"  id="detalles" >
	<p >.</p>
	<p >.</p>
	<p >.</p>
	<div>

	</div>
	</div>
	<div>


<section class="container-fluid pt-4" id="video_recorrido" style="background-image: url('{% static 'images/Villavicencio.jpg'%}');background-attachment: fixed;background-position: bottom;">
	
		 
	<div class="row text-center" style="background-color: rgba(212,31,31,0.8);color:#f2f2f2;">
<div class="col-md-12 p-md-5 p-xs-2 p-sm-2 col-xs-12 col-sm-12" data-aos="zoom-in" data-duration="2000">
		<h1 class="text-center p-md-5 text-white"><span class="fas fa-map-marked-alt" style="font-size:40pt"></span> DETALLES DE LA RUTA</h1>
</div>
		 <div class="col-md-11 offset-md-1 mx-5 p-2 bg-dark home"></div>
		
		<div class="col-md-12 p-md-5 p-xs-2 p-sm-2 col-xs-12 col-sm-12" data-aos="zoom-in" data-duration="2000">
			<h1 class="text-uppercase text-white"><span class="fab fa-youtube"></span> Video Recorrido</h1>

			<h5 class="text-center text-white">(RESOLUCION RECOMENDADA 1080P)</h5>
			
			<div class="col-md-6 offset-md-3 col-xs-12 col-sm-12 text-center pt-md-5 text-dark" id="video">
				
			</div>
		</div>
		<div class="col-md-11 offset-md-1 mx-5 my-4 bg-dark p-2"></div>
		<div class="col-md-12 py-md-5 pb-md-3 p-ys-2 p-sm-2 col-xs-12 col-sm-12 text-center" data-aos="zoom-in" data-duration="2000">
			<h1 class="text-white"><span class="fas fa-chart-area "></span> ALTIMETRIA</h1>
			<div class="col-md-10 offset-md-1 text-center pt-md-m mt-md-5" >
				<img src="{% static 'images/altimetria.png'%}" class="img-fluid rounded " style="border-style: solid;border-width: 5px;">
				
			</div>
			
		</div>
		<div class="col-md-11 offset-md-1 mx-5 my-4 bg-dark p-2"></div>

		<div class="col-md-12 text-center">
			<h1 class="text-white"><span class="fa fa-map-signs"></span> MAPA DEL RECORRIDO</h1>
			<div class="col-md-6 p-md-4 offset-md-3 text-center" id="mapa_wrapper" data-aos="zoom-in" data-duration="2000">
				<img src="{% static 'images/mapa_ruta.jpg'%}" class="img-fluid text-center" style="border-width:10px;border-radius: 15px;border-style: solid;border-color:#303030" id="mapa">
				
			</div>
		</div>
	</div>
</section>
<!-- team -->
<section class="container-fluid bg-info"  id="prize" >
	<p >.</p>
	<p >.</p>
	<p >.</p>
	<p >.</p>
	<div>

	</div>
	</div>
	<div>


<section class="container-fluid " id="premiacion"> 	
<div  id="premiacion_dentro">
	<div class="row">
		<div class="col-md-12 p-4">
			<h1 class="	text-center text-uppercase p-4"><span style="font-size:40pt" class="fa fa-trophy" data-aos="flip-left" data-aos-duration="2000"></span> premiación</h1>
		</div>
		<div class="col-md-8 offset-md-2 p-4">
			<h3 class="text-center text-uppercase">
				La Media maratón villavicencio 2019 premia el esfuerzo de sus deportistas participantes.
			</h3>
			<br>
			<h6 class="text-uppercase pt-md-4 text-center"> el comité organizador del evento a dispuesto una suma superior a los cincuenta millones de pesos  (50'000.000 COP) en premios que serán distribuidos de la siguiente manera: </h6>
		</div>
	</div>

	<div class="col-md-8 offset-md-2 bg-dark my-5 p-2">
		
	</div>

	<div class="row"> 
	<div class="col-md-6">
		<h3 class="text-center"><span class="fa fa-award"></span> PERMIACIÓN MEDIA MARATÓN</h3>
		<div class="col-md-12">
			<h5 class="text-center m-4"> CATEGORÍA MAYORES <span class="regla12 fa fa-chevron-circle-down boton"></span></h5>
			<table class="table text-center" style="padding: 4%" id="regla12">
							<thead>
								<tr>
									<td>
										<strong><span class="fas fa-sort-numeric-up"></span> POSICIÓN</strong>
									</td>
									<td>
										<strong><span class="fas fa-money-bill"></span> PREMIO</strong>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										PRIMER LUGAR
									</td>
									<td>
										4'000.000
									</td>
								</tr>
								<tr>
									<td>
										SEGUNDO LUGAR
									</td>
									<td>
										3'000.000
									</td>
								</tr>
								<tr>
									<td>
										TERCER LUGAR
									</td>
									<td>
										 2'000.000
									</td>
								</tr>

							<tr>
									<td>
										CUARTO LUGAR
									</td>
									<td>
										 1'000.000
									</td>
								</tr>					
								<tr>
									<td>
										QUINTO LUGAR
									</td>
									<td>
										 700.000
									</td>
								</tr>					
							</tbody>
						</table>

			<h5 class="text-center m-4"> CATEGORÍA MAYORES (MUJERES) <span class="regla20 fa fa-chevron-circle-down boton"></span></h5>
						<table class="table text-center" style="padding: 4%" id="regla20">
							<thead>
								<tr>
									<td>
										<strong><span class="fas fa-sort-numeric-up"></span> POSICIÓN</strong>
									</td>
									<td>
										<strong><span class="fas fa-money-bill"></span> PREMIO</strong>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										PRIMER LUGAR
									</td>
									<td>
										4'000.000
									</td>
								</tr>
								<tr>
									<td>
										SEGUNDO LUGAR
									</td>
									<td>
										3'000.000
									</td>
								</tr>
								<tr>
									<td>
										TERCER LUGAR
									</td>
									<td>
										 2'000.000
									</td>
								</tr>

							<tr>
									<td>
										CUARTO LUGAR
									</td>
									<td>
										 1'000.000
									</td>
								</tr>					
								<tr>
									<td>
										QUINTO LUGAR
									</td>
									<td>
										 500.000
									</td>
								</tr>					
							</tbody>
						</table>



		</div>

		<div class="col-md-12">
			<h5 class="text-center m-4"> CATEGORÍA VETERANOS <span class="fa fa-chevron-circle-down boton regla13"></span> </h5>
			<table class="table text-center" style="padding: 4%" id="regla13">
							<thead>
								<tr>
									<td>
										<strong><span class="fas fa-sort-numeric-up"></span> POSICIÓN</strong>
									</td>
									<td>
										<strong><span class="fas fa-money-bill"></span> PREMIO</strong>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										PRIMER LUGAR
									</td>
									<td>
										1'500.000
									</td>
								</tr>
								<tr>
									<td>
										SEGUNDO LUGAR
									</td>
									<td>
										1'000.000
									</td>
								</tr>
								<tr>
									<td>
										TERCER LUGAR
									</td>
									<td>
										 500.000
									</td>
								</tr>

							<tr>
									<td>
										CUARTO LUGAR
									</td>
									<td>
										 400.000
									</td>
								</tr>					
								<tr>
									<td>
										QUINTO LUGAR
									</td>
									<td>
										 200.000
									</td>
								</tr>					
							</tbody>
						</table>



		</div>
		<div class="col-md-12">
			<h5 class="text-center m-4"> CATEGORÍA VETERANOS PLUS <span class="regla14 fa fa-chevron-circle-down boton" id="premio_media_veteranos_plus"></span> </h5>
				<table class="table text-center" style="padding: 4%" id="regla14">
							<thead>
								<tr>
									<td>
										<strong><span class="fas fa-sort-numeric-up"></span> POSICIÓN</strong>
									</td>
									<td>
										<strong><span class="fas fa-money-bill"></span> PREMIO</strong>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										PRIMER LUGAR
									</td>
									<td>
										1'500.000
									</td>
								</tr>
								<tr>
									<td>
										SEGUNDO LUGAR
									</td>
									<td>
										1'000.000
									</td>
								</tr>
								<tr>
									<td>
										TERCER LUGAR
									</td>
									<td>
										 500.000
									</td>
								</tr>

							<tr>
									<td>
										CUARTO LUGAR
									</td>
									<td>
										 400.000
									</td>
								</tr>					
								<tr>
									<td>
										QUINTO LUGAR
									</td>
									<td>
										 200.000
									</td>
								</tr>					
							</tbody>
						</table>



				</div>
			</div>	
		
	

<div class="col-md-6">
	<div class="col-md-5 bg-dark my-5 p-2 garden"></div>
		<h3 class="text-center"><span class="fa fa-award"></span> PERMIACIÓN CARRERA 10K RECREATIVA </h3>
		<h6 class="text-center text-uppercase pt-2">( el premio para esta categoía se entregara en bonos )</h6>
		<div class="col-md-12">
			<h5 class="text-center m-4"> TODAS LAS CATEGORIAS <span class="regla15 fa fa-chevron-circle-down boton"></span></h5>
			<table class="table text-center" style="padding: 4%" id="regla15">
							<thead>
								<tr>
									<td>
										<strong><span class="fas fa-sort-numeric-up"></span> POSICIÓN</strong>
									</td>
									<td>
										<strong><span class="fas fa-money-bill"></span> PREMIO</strong>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										PRIMER LUGAR
									</td>
									<td>
										500.000
									</td>
								</tr>
								<tr>
									<td>
										SEGUNDO LUGAR
									</td>
									<td>
										400.000
									</td>
								</tr>
								<tr>
									<td>
										TERCER LUGAR
									</td>
									<td>
										 300.000
									</td>
								</tr>

							<tr>
									<td>
										CUARTO LUGAR
									</td>
									<td>
										 200.000
									</td>
								</tr>					
								<tr>
									<td>
										QUINTO LUGAR
									</td>
									<td>
										 100.000
									</td>
								</tr>					
							</tbody>
						</table>
				</div>
			</div>	
		</div>


<div class="row"> 
	<div class="col-md-6 offset-md-3 pt-5">
		<div class="col-md-5 bg-dark my-5 p-2 garden"></div>
		<h3 class="text-center"><span class="fa fa-award"></span> PERMIACIÓN MODALIDAD SILLA DE RUEDAS </h3>
		<h6 class="text-center text-uppercase">( el premio para esta categoría se entregara en bonos )</h6>
		<div class="col-md-12">
			<h5 class="text-center m-4"> CATEGORÍA UNICA <span class="regla19 fa fa-chevron-circle-down boton"></span></h5>
			<table class="table text-center" style="padding: 4%" id="regla19">
							<thead>
								<tr>
									<td>
										<strong><span class="fas fa-sort-numeric-up"></span> POSICIÓN</strong>
									</td>
									<td>
										<strong><span class="fas fa-money-bill"></span> PREMIO</strong>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										PRIMER LUGAR
									</td>
									<td>
										500.000
									</td>
								</tr>
								<tr>
									<td>
										SEGUNDO LUGAR
									</td>
									<td>
										400.000
									</td>
								</tr>
								<tr>
									<td>
										TERCER LUGAR
									</td>
									<td>
										 300.000
									</td>
								</tr>

							<tr>
									<td>
										CUARTO LUGAR
									</td>
									<td>
										 200.000
									</td>
								</tr>					
								<tr>
									<td>
										QUINTO LUGAR
									</td>
									<td>
										 100.000
									</td>
								</tr>					
							</tbody>
						</table>
				</div>
			</div>

				<div class="col-md-8 offset-md-2 bg-dark my-5 p-2"></div>
	
		</div>


	</div>	
</section>



		<section class="container-fluid bg-info"  id="rules" >
			<p >.</p>
			<p >.</p>
			<p >.</p>
			<div>

			</div>
			</div>
			<div>	
		</section>



<section class="container section text-center" id="reglamento">	


<div id="dentro" class="container-fluid text-center">
		<h3 class="heading mb-md-5 mb-4 text-uppercase  text-dark pt-5 mt-5"><span class="fa fa-list-ol"></span> reglamento del evento</h3>

		


<div class="row mt-5" id="reglas_">

			<div class="col-md-5 col-xs-12 col-sm-12 text-left" id="participacion">

				<h4 id="regla" class="text-uppercase"> <span class="fa fa-chevron-circle-down boton regla1"></span> Articulo 1: LUGAR – FECHA </h1>
				<hr>
				<div class="col-md-12 p-4" id="regla1">	
					

					<p class="text-justify"><strong>Villavicencio - Meta Abril 7 de 2019</strong></p>
					<br>

				</div>
		</div>
			<div class="col-md-5 col-xs-12 col-sm-12 text-left" id="salida">

				<h4 id="regla" class="text-uppercase"> <span class="fa fa-chevron-circle-down boton regla2"></span> artículo 2: ORGANIZACION </h4>
				<hr>
				<div class="col-md-12 p-4" id="regla2">
					<p><strong>Alcaldía Villavicencio – Meta</strong></p>
					<br>
					<p><strong> Liga De Atletismo del Meta</strong>  </p>
					<br>
					<p><strong> Federación Colombiana de Atletismo</strong>  </p>



			</div>
			</div>
			<div class="col-md-5 col-xs-12 col-sm-12 text-left" id="horario">

				<h4 id="regla" class="text-uppercase"> <span class="fa fa-chevron-circle-down boton regla3"></span> artículo 3: MEDIA MARATÓN:  </h4>
				<hr>
				<div class="col-md-12 p-4" id="regla3">
					<p><strong> CATEGORIA -  RAMAS</strong>  </p>
					<br>
					<h6>La media Maratón se realizará en una distancia oficial de 21 kmts en Damas y Varones con las siguientes categorías:</h6>
					
					<table class="table text-center" style="padding: 4%">
							<thead>
								<tr>
									<td>
										<strong>CATEGORIA</strong>
									</td>
									<td>
										<strong>EDAD</strong>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										MAYORES
									</td>
									<td>
										20 A 39 AÑOS
									</td>
								</tr>
								<tr>
									<td>
										VETERANOS
									</td>
									<td>
										40 A 49 AÑOS
									</td>
								</tr>
								<tr>
									<td>
										VETERANOS PLUS
									</td>
									<td>
										 50 AÑOS O MAS
									</td>
								</tr>					
							</tbody>
						</table>

					<br>
					<h6>También se realizarán una prueba recreativa de 10 Kms en las categorías:</h6>
					<br>

					<table class="table text-center" style="padding: 4%">
							<thead>
								<tr>
									<td>
										<strong>CATEGORIA</strong>
									</td>
									<td>
										<strong>EDAD</strong>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										JUVENIL
									</td>
									<td>
										18 A 19 AÑOS
									</td>
								</tr>
								<tr>
									<td>
										MAYORES
									</td>
									<td>
										20 A 39 AÑOS
									</td>
								</tr>
								<tr>
									<td>
										VETERANOS
									</td>
									<td>
										 40 A 49 AÑOS 
									</td>
								</tr>

							<tr>
									<td>
										VETERANOS PLUS
									</td>
									<td>
										 MAYORES DE 50 AÑOS
									</td>
								</tr>					
								<tr>
									<td>
										SILLAS DE RUEDAS
									</td>
									<td>
										 SIN LIMITE DE EDAD
									</td>
								</tr>					
							</tbody>
						</table>

					<h6 class="text-uppercase animated pulse infinite"><strong>En la prueba de la MEDIA MARATÓN la premiación será en efectivo y la 10k en Bonos.</strong></h6>
					<br>

			</div>
			</div>
			<div class="col-md-5 col-xs-12 col-sm-12 text-left" id="inscripciones">

				<h4 id="regla" class="text-uppercase"> <span class="fa fa-chevron-circle-down boton regla4"></span>  artículo 4: HORARIOS DE SALIDA </h4>
				<hr>
				<div class="col-md-12 p-4" id="regla4">
					<p><strong>Salida media Maratón		8:00 am</strong></p>
					<p><strong>Salida 10 Kms			8:30 am </strong></p>
					
					<br>


			</div>
			</div>

			<div class="col-md-5 col-xs-12 col-sm-12 text-left" id="entrega">
				<h4 id="regla" class="text-uppercase"> <span class="fa fa-chevron-circle-down boton regla5"></span> articulo 5: JUZGAMIENTO </h4>
				<hr>
				<div class="col-md-12 p-4" id="regla5">
					<p class="text-justify">
						
						Comisión de Juzgamiento de la Liga de Atletismo del Meta y la Federación Colombiana de Atletismo.

					</p>



			</div>
			</div>
			<div class="col-md-5 col-xs-12 col-sm-12 text-left" id="resultados">
			

				<h4 id="regla" class="text-uppercase"> <span class="fa fa-chevron-circle-down boton regla6"></span> artículo 6: NORMAS GENERALES  </h4>
				<hr>
				<div class="col-md-12 p-4" id="regla6">
					
						<h6 class="text-dark text-justify"> <span class="fa fa-arrow-right" style="font-size:15pt"></span> Solo podrán participar personas nacidas en el territorio colombiano.
						</h6>
						<br>
						<h6 class="text-dark text-justify"> <span class="fa fa-arrow-right" style="font-size:15pt"></span> Todas las personas que participen en la competencia lo hacen bajo su exclusiva y total responsabilidad.
						</h6>
						<br>
						<h6 class="text-dark text-justify"> <span class="fa fa-arrow-right" style="font-size:15pt"></span> Los participantes deben presentarse una (1) hora antes en el sitio de salida.
						</h6>
						<br>
						<h6 class="text-dark text-justify"> <span class="fa fa-arrow-right" style="font-size:15pt"></span> El competidor debe portar el número en la parte frontal de la Camiseta, sin doblarlo, recortarlo o modificarlo. Quien incumpla esta disposición será DESCALIFICADO.
						</h6>
						<br>
						<h6 class="text-dark text-justify"> <span class="fa fa-arrow-right" style="font-size:15pt"></span> Cualquier conducta antideportiva de un participante en contra de atletas, jueces, directivos o público asistente, será penalizada con DESCALIFICACIÓN.
						</h6>
						<br>
						<h6 class="text-dark text-justify"> <span class="fa fa-arrow-right" style="font-size:15pt"></span> En las Inscripciones deberá figurar NOMBRE y APELLIDOS del atleta, FECHA DE NACIMIENTO ( dd / mm / aa ).DOCUMENTO
						</h6>
						<br>
						<h6 class="text-dark text-justify"> <span class="fa fa-arrow-right" style="font-size:15pt"></span> La organización prestara únicamente servicio de primeros auxilios.
						</h6>
						<br>
						<h6 class="text-dark text-justify"> <span class="fa fa-arrow-right" style="font-size:15pt"></span> La carrera se regirá por los reglamentos de la IAAF. Los casos no previstos en la presente reglamentación serán resueltos por el Director General de la Competencia.
						</h6>
						<br>
						<h6 class="text-dark text-justify"> <span class="fa fa-arrow-right" style="font-size:15pt"></span> La organización se reservará el derecho de participación y admisión al evento.
						</h6>
						<br>
						<h6 class="text-dark text-justify"> <span class="fa fa-arrow-right" style="font-size:15pt"></span> El corredor(a) es quien entrega la información al momento de su inscripción y por     ello es responsable de verificar: el número que recibe, la categoría en la cual se inscribió, la modalidad que en la que va a competir y la rama asignada (masculino o femenino), e informará personalmente cualquier no conformidad y/o cambio a la organización hasta las 6 p.m. del día anterior al evento, vencido este plazo se entenderá aceptado el contenido de la inscripción y renuncia a cualquier reclamación.
						</h6>
						<br>
						<h6 class="text-dark text-justify"> <span class="fa fa-arrow-right" style="font-size:15pt"></span> El valor de la inscripción no será reembolsable bajo ninguna circunstancia.
						</h6>
						<br>


				</div>
			</div>
			<div class="col-md-5 col-xs-12 col-sm-12 text-left" id="descalificaciones">
			

				<h4 id="regla" class="text-uppercase"> <span class="fa fa-chevron-circle-down boton regla7"></span> artículo 7: RESPONSABILIDAD  </h4>
				<hr>
				<div class="col-md-12 p-4" id="regla7">
				
						<h6 class="text-justify text-dark"><span class="fa fa-arrow-right"></span>
						Al registrar la inscripción, el deportista exonera de toda responsabilidad a la Alcaldía de Villavicencio, Instituto 	municipal de Deportes y recreación IMDER, Liga de Atletismo del Meta y Federación Colombiana de Atletismo, 	patrocinadores y organizadores de la competencia, por los accidentes de cualquier naturaleza que puedan sufrir en el 	desarrollo del evento.
						</h6>
						<br>
						<h6 class="text-justify text-dark"><span class="fa fa-arrow-right"></span>
							Igualmente, el atleta se responsabiliza de su condición física, antes, durante y después de la prueba.
						</h6>
				
				</div>
		</div>
			<div class="col-md-5 col-xs-12 col-sm-12 text-left">

				<h4 id="regla" class="text-uppercase"> <span class="fa fa-chevron-circle-down boton regla8"></span> artículo 8: DOPAJE  </h4>
				<hr>
				<div class="col-md-12 p-4" id="regla8">
						<h6 class="text-justify">En caso de hacerse control al dopaje, los atletas elegidos deberán presentarse so pena de ser DESCALIFICADOS.</h6>
						<hr>
						
				</div>
			</div>

			<div class="col-md-5 col-xs-12 col-sm-12 text-left" id="categorias">

				<h4 id="regla" class="text-uppercase"> <span class="fa fa-chevron-circle-down boton regla9"></span> artículo 9: COSTO  </h4>
				<hr>
				<div class="col-md-12 p-4" id="regla9">
					<h6 class="text-justify text-dark text-uppercase"><span class="fa fa-arrow-right"></span> El costo por inscripción  para la media maratón es de $ 40.000 (Cuarenta  mil Pesos) por atleta</h6>
					<br>
					<h6 class="text-justify text-dark text-uppercase"><span class="fa fa-arrow-right"></span> La prueba de 10k no tiene costo de inscripción </h6>

			</div>

			</div>

			<div class="col-md-5 col-xs-12 col-sm-12 text-left" id="categorias">

				<h4 id="regla" class="text-uppercase"> <span class="fa fa-chevron-circle-down boton regla10"></span> artículo 10: INSCRIPCIONES</h4>
				<hr>
				<div class="col-md-12 p-4" id="regla10">
	
				<table class="table text-center mt-3" style="padding: 4%">
							<thead>
								<tr>
									<td>
										<strong>CARRERA</strong>
									</td>
									<td>
										<strong>INSCRIPCIONES</strong>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										MEDIA MARATÓN
									</td>
									<td class="text-left text-uppercase">A partir del 1 de marzo de 2019  hasta las 18:00 del 6 de 	Abril de 2019.
									</td>
								</tr>
								<tr>
									<td>
										CARRERAS 10K
									</td>
									<td class="text-left text-uppercase">A partir del 1 de marzo de 2019 hasta completar límite de inscripciones 	gratuitas autorizadas por la organización: 1000 inscripciones. 
									</td>
								</tr>
							</tbody>
						</table>


			</div>

			</div>
			
				<div class="col-md-5 col-xs-12 col-sm-12 text-left" id="categorias">

				<h4 id="regla" class="text-uppercase text-justify"> <span class="fa fa-chevron-circle-down boton regla11"></span> artículo 11: ENTREGA DE KIT DEPORTIVO </h4>
				<hr>
				<div class="col-md-12 p-4" id="regla11">			
					<h6 class="text-dark text-uppercase text-justify"> Sábado 6 de abril de 2019 de 8 am a 6 pm, en las instalaciones del IMDER ubicado en la <strong>carrera 41 con Calle 5b Parque Barrio Villa Bolívar.</strong></h6>

						<table class="table text-center mt-3" style="padding: 4%">
							<thead>
								<tr>
									<td>
										<strong>CARRERA</strong>
									</td>
									<td>
										<strong>KIT</strong>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
		
									<td>
										MEDIA MARATÓN
									</td>
									<td>
										KIT DEPORTIVO
									</td>
								</tr>
								<tr>
									<td>
										CARRERAS 10K
									</td>
									<td>
										NÚMERO DE 	COMPETENCIA Y CHIP
									</td>
								</tr>
							</tbody>
						</table>


			</div>

			</div>
			

</div>
</div>
</div>
</section>

<br>
<br>
<br>

<script type="text/javascript" src="{%static '/js/logica.js'%}"></script>

<section class="container-fluid"  id="partner" style="background-color: transparent;">
			<p >.</p>
			<p >.</p>
			<p >.</p>
			<div>

			</div>
			</div>
			<div>	
		</section>


<div class="copyright py-3 text-left">
	<!-- <p>Media MaratÓn Ciudad De Villavicencio Diseñado por:<a href="http://w3layouts.com/" target="=_blank"> Wilkath Tareas </a></p> -->
</div>
		<div class="col-md-12 bg-info p-1"></div>
		<div class="col-md-12 bg-success p-1"></div>
		<div class="col-md-12 bg-danger p-1"></div>


<section class="team py-5" id="team" style="background-color: #f2f2f2">
	<div class="container py-md-2">
		<div class="title-desc text-center">
			<h3 class="heading  text-uppercase text-dark"><span class="fa fa-university"></span> ORGANIZAN</h3>
		</div>
	<div class="row team-grid ml-5">
				<div class="col-md-3 partner animated pulse infinite">
					<a href="https://www.imdervillavicencio.gov.co/"><img  width="80%" src="{% static 'images/logo_imder.png' %}" class="img-fluid" alt="Liga de atletismo del meta" ></a>
				</div>
				<div class="col-md-3 partner animated pulse infinite">
					<a href="https://es-la.facebook.com/pages/category/Sports-League/Liga-De-Atletismo-Del-Meta-1281840691830105/"><img  width="80%" src="{% static 'images/Logo_liga_2.png' %}" class="img-fluid" alt="Liga de atletismo del meta" ></a>
				</div>
				<div class="col-md-3  partner animated pulse infinite">
					<a href="https://www.villavicencio.gov.co/"><img  width="80%" src="{% static 'images/Logo_alcaldia.png' %}" alt="Alcaldia De Villavicencio" class="img-fluid"></a>
				</div>
				<div class="col-md-3  partner animated pulse infinite">
					<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img  width="80%" src="{% static 'images/logo_federacion.png' %}" class="img-fluid"></a>
				</div>
				
	</div>
</section>
<style type="text/css">
	.partner{
		padding:1%;
		transition: 2s;
	}
	.partner:hover{
		padding: 3%;
		transition: 1s;
	}
</style>

{% endblock %}

{% block footer %}


<footer class="py-sm-3 py-3">
	<div class="container py-md-3">
	<div class="row">
		<div class="col-md-6 text-left">
			<h4 class="text-info text-uppercase"><a  href="#home" class="text-white"><span class="fa fa-scissors"></span>Media MaratÓn Ciudad De Villavicencio</a></h4>
			<h6 class="text-white py-md-2 py-xs-2 py-sm-2"><span class="fas fa-envelope-open" style="font-size: 20pt;color: green"></span> Email : mediamaratonvillavicencio@gmail.com</h6>
			<h6 class="text-white py-md-1"><span class="fas fa-mobile-alt" style="font-size: 20pt;color: green"></span> Tel : 3124280458</h6>
		</div>

		<div class="col-md-6 text-right	">
			<h6 class="text-info text-uppercase pt-md-5" ><a  href="https://www.facebook.com/WildKathTareas/" target="_blank" class="text-white">Diseñano por: <span class="text-warning" > WildKath Tareas </span><img src="{% static 'images/logo-alt.png'%}" width="5%"></a></h6>
		</div>
	</div>
	</div>
</footer>



<script type="text/javascript" src="{% static 'js/play.js'%}"></script>
{% endblock %}

<script type="text/javascript">
		

		$(window).on('load', function(){
			$(".loader").fadeOut("slow");
		});
		video=document.getElementById("video")
		video.innerHTML='<iframe width="100%" height="400px" src="https://www.youtube.com/embed/boxGOYvEVd8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border-radius:20px;border-style: solid;border-width:5px" ></iframe>'

</script>

</body>
</html>