{% extends 'index.html' %}
{% block header %}
{% endblock %}
{% block banner %}
{% endblock %}
{% block content %}
{% endblock %}
{% block content_free %}

{% load staticfiles %}
<section class="banner_w3lspvt" id="home">

        <div class="banner-top bg-dark">
          <div class="overlay">
            <div class="container">
              
                <div class="text-center pt-5 col-md-12">
                <h2 class="text-white text-uppercase">Bien Hecho <span class="text-info"> {{nombre}} </span>, Tu registro ha sido exitoso, preparate para la competencia, recuerda reclamar tu kit el Sábado 6 de abril de 2019 de 8 am a 6 pm, en las instalaciones del IMDER ubicado en la <strong>carrera 41 con Calle 5b Parque Barrio Villa Bolívar.</strong></h2>
                <div class="col-md-4 offset-md-4 pt-5">
                	
                <a href="{% url 'index'%}"">	<h1> <span class="fa fa-home text-info" style="font-size: 500%;"></span></h1></a>

            	</div>
                
              </div>
            </div>
          </div>
        </div>
</section>
{% endblock %}

{% block footer%}
{% endblock%}