{% extends 'index.html' %}
{% block header%}
{% load staticfiles %}
<header id="mobil_head">
	<div class="container-fluid bg-success">
		<div class="col-md-12 bg-info p-2"></div>
			<nav class="pt-md-4 d-lg-flex" style="border-bottom: 3px solid black;background-color:rgba(51,255,50,0.9);padding-right:5%;padding-left:5%;">

			<div class="col-md-5">
					<div id="logo">
						<a href="{% url 'index'%}"><img src="{% static 'images/logo.png'%}" width="35%"></a>
						<h3 class="mb-3 text-left" style="color:#f2f2f2;font-weight: bold"> ABRIL 7 2019 </h3>
						<!-- <h3> <a href="{% url 'index'%}"><span style="color:#006600"><strong>MEDIA</strong></span>  MARATÓN<span class="text-danger" style="font-weight: bold"> VILLAVICENCIO</span></a> <br> </h3> -->			
					</div>
			</div>

			<div class="col-md-7 text-right"> 
				<div id="logo_header">
							<a href="https://www.imdervillavicencio.gov.co"><img data-aos="flip-left" data-aos-duration="1000" src="{% static 'images/logo_imder.png'%}" width="15%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>		
							<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="1000" src="{% static 'images/Logo_alcaldia.png'%}" width="15%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>
							<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="2000" src="{% static 'images/logo_federacion.png'%}" width="17%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
							<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="3000" src="{% static 'images/Logo_liga_2.png'%}" width="14%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
				</div>
					
						<ul class=" mt-lg-1 text-left" id="main_menu">	
						<div class=" col-md-12 p-1 mt-1 bg-info">
							</div>
						<li class="active"><a  href="{% url 'index'%}"><span class="fa fa-home blue_icon text-dark"></span>  Inicio</a></li>
						<li class="text-info">|</li>
						<li><a href="{% url 'registro:registro' %}"><span class="fas fa-sign-in-alt blue_icon text-dark "></span> Inscripción</a></li>
						<li class="text-info">|</li>
						
						<li><a href="{% url 'registro:listado_atletas' %}"><span class="fa fa-user-shield blue_icon text-dark"></span> 
						Ver Atletas</a></li>
						</ul>		
							
			</nav>		
		</div>
	</div>	
</header>

<header id="mobil_head_2">
	<div class="container" style="border-bottom: 3px solid black;background-color: rgba(53,173,30,0.9);padding-left:5%;">
		<div class="row">
			<div class="col-sm-6 text-center">
					
						<a href="{% url 'index'%}"><img src="{% static 'images/logo.png'%}" width="35%"></a>
						<h4 style="color:#f2f2f2;font-weight: bold"> ABRIL 7 2019 </h4>
						<!-- <h3> <a href="{% url 'index'%}"><span style="color:#006600"><strong>MEDIA</strong></span>  MARATON<span class="text-danger" style="font-weight: bold"> VILLAVICENCIO</span></a> <br> </h3> -->	
										<div id="logo_header" class="pb-2">
								<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="1000" src="{% static 'images/Logo_alcaldia.png'%}" width="15%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>
								<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="2000" src="{% static 'images/logo_federacion.png'%}" width="17%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
								<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="3000" src="{% static 'images/Logo_liga_2.png'%}" width="14%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
						</div>		
			
		
				</div>
		<nav class="d-lg-flex text-right"  style="position: fixed;float: left">
			<label for="drop" class="toggle bg-primary" ><span class="fa fa-bars "></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mx-5 mt-lg-4 ml-auto" style="background-color: transparent;">
								<li><a  href="{% url 'index'%}"><span class="fa fa-home blue_icon text-dark"></span>  Inicio</a></li>					
			</ul>
		</nav>
			</div>
		</div>
</header>

{% endblock %}

{% block banner %}
{% endblock %}
{% block content %}
<style type="text/css">
	body{background-color: #303030}
</style>
<div class="container-fluid my-5 py-5" style="background-color: #f2f2f2f2">
	<div class="row">
		<div class="col-md-12 text-center">
				<h1 class="mb-4"><span class="fa fa-user"></span> Atletas Registrados</h1>
				<div class="text-left">
				<h4 class="p-1"> Total 10k= {{total_10k}}</h4>
				<h4 class="p-1"> Total Media= {{total_mm}}</h4>  
				{% if pago %}
				<h4 class="p-1"> Total Media Confirmados= {{pago}}</h4>  
				{% endif %}
				<h4 class="p-1"> Total Silla de ruedas= {{total_sr}}</h4>

				</div>
				{% if object_list %}
				<table class="table" >
					<tr class="text-left" id="headlines_atletas">
						
						<td>Nombre <a href="{% url 'registro:listado_atletas' %}"><span class="fa fa-sort"></span></a></td>
						<td>Edad</td>
						<td>Telefono</td>
						<td>Carrera <a href="{% url 'registro:listado_atletas_carerra' %}"><span class="fa fa-sort"></span></a></td>
						<td>Categoria</td>
						<td>Correo</td>
						<td>Identificacion</td>
						<td>Fecha De Registro</td>
						<td>Pago Confirmado <a href="{% url 'registro:listado_atletas_pay' %}"><span class="fa fa-sort"></span></a></td>
						<td></td>
						<td></td>
						
						

					</tr>
					
					
					{% for atleta in object_list%}
					<tr class="text-left">
						
						<td>{{ atleta.nombre_atleta }} {{ atleta.apellido_atleta }}</td>
						<td>{{ atleta.edad_atleta }}</td>
						<td>{{ atleta.telefono_atleta }}</td>
						<td>{{ atleta.carrera_atleta}}</td>
						<td>{{ atleta.categoria_atleta}}</td>
						<td>{{ atleta.correo_atleta}}</td>
						<td>{{ atleta.identificacion_atleta}}</td>
						<td>{{atleta.fecha_inscripcion}}</td>
						{% if atleta.pago_confirmado %}
						<td>Si</td>
						{% else %}
						<td>No</td>
						{%endif%}

						<td> <a class="btn btn-success" href="{% url 'registro:editar_atleta' atleta.atleta_id %}"> Editar</button></td>
						<td> <a class="btn btn-danger" href="{% url 'registro:delete' atleta.atleta_id %}"> Borrar</button></td>				
					    <!--  -->
					{% endfor %}
					{% endif %}
					</tr>
				</table>
				<div class="text-center">
					<a href="{% url 'salir' %}" class="btn btn-lg btn-danger">Cerrear Sesion</a>
					
				</div>
		</div>
	</div>
</div>
<style type="text/css">
	td{font-size: 10pt}
</style>
{% endblock %}
