{% extends 'index.html' %}
{% block header%}
{% endblock %}
{% block banner%}
{% endblock%}

{% block content %}
{% load staticfiles%}
<div class="col-md-6 offset-md-3 text-center p-5">	
	<h2>Pagar Ticket</h2>
	<h6 class="m-5"> Si tuviste problemas con tu pago al momento de tu registro aqui puedes completar tu inscripcion </h6>
	<h5 class="m-5"> Ingrese su numero de documento: </h5>
	<form method="POST">
		{% csrf_token %}
		<input type="text" name="cedula" class="form-control" onchange="pago(this.value)" oninput="anular()">
		<p id="alerta_pago"></p>
		<hr>
		<button type="submit" class="btn btn-outline-danger" id="boton_pagar"> Pagar</button>
		
	</form>
</div>
<script type="text/javascript" src="{% static 'js/pago.js'%}"></script>
{% endblock %}

