{% extends 'index.html' %}
{% block header %}
{% endblock %}
{% block banner %}
{% endblock %}
{% block content %}
{% load staticfiles %}

<section class="banner_w3lspvt" id="home">
  <div class="csslider infinity" id="slider">
    <input type="radio" name="slides" checked="checked" id="slides_1" />    
    <ul>
      <li>
        <div class="banner-top">
          <div class="overlay">
            <div class="container">
              <div class="w3layouts-banner-info">
                
                <h2 class="text-white text-uppercase">Tu registro ha sido exitoso, usa el boton para acceder a la plataforma de pago y completar tu inscripción </h2>
                <form method="post" action="https://checkout.payulatam.com/ppp-web-gateway-payu/">
            <input name="merchantId"    type="hidden"  value="789496">
            <input name="accountId"     type="hidden"  value="796349">
            <input name="description"   type="hidden"  value="Inscripcion a la media maraton ciudad de Villavicencio"  >
            <input name="referenceCode" type="hidden"  value="{{ref}}" >
            <input name="buyerFullName" type="hidden"  value="{{nombre}}" >
            <input name="amount"        type="hidden"  value="40000"   >
            <input name="tax"           type="hidden"  value="0"  >
            <input name="taxReturnBase" type="hidden"  value="0" >
            <input name="currency"      type="hidden"  value="COP" >
            <input name="signature"     type="hidden"  value="{{signature}}"  >
            <input name="test"          type="hidden"  value="1" >
            <input name="extra1"          type="hidden"  value="{{cedula}}" >
            <input name="extra2"          type="hidden"  value="{{categoria}}" >
            <input name="buyerEmail"    type="hidden"  value="{{correo}}" >
            <input name="responseUrl"    type="hidden"  value="http://www.mediamaratonvillavo.com" >
            <input name="confirmationUrl"    type="hidden"  value="https://mediavillavicencio.herokuapp.com/registro/cheking/" >
            <br>
            <br>
            </span> <input class="btn btn-lg btn-info p-3 mb-5 animated pulse infinite" type="submit"  value="Completar Inscripción">
          </form>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <div class="arrows">
      

    </div>
  </div>
</section>


{% endblock %}

  <!--   <form method="post" action="https://checkout.payulatam.com/ppp-web-gateway-payu/">
            <input name="merchantId"    type="hidden"  value="789496"   >
            <input name="accountId"     type="hidden"  value="796349" >
            <input name="description"   type="hidden"  value="Inscripción Media Maraton Ciudad De Villavicencio"  >
            <input name="referenceCode" type="hidden"  value="Media Maraton Ticket" >
            <input name="buyerFullName" type="hidden"  value="{{nombre}}" >
            <input name="amount"        type="hidden"  value="{{valor}}"   >
            <input name="tax"           type="hidden"  value="0"  >
            <input name="taxReturnBase" type="hidden"  value="0" >
            <input name="currency"      type="hidden"  value="COP" >
            <input name="signature"     type="hidden"  value="87baf649573c40113d9e673f867bd76a"  >
            <input name="test"          type="hidden"  value="1" >
            <input name="extra1"          type="hidden"  value="{{cedula}}" >
            <input name="extra2"          type="hidden"  value="{{categoria}}" >
            <input name="buyerEmail"    type="hidden"  value="{{correo}}" >
            <input name="responseUrl"    type="hidden"  value="https://mediavillavicencio.herokuapp.com" >
            <input name="confirmationUrl"    type="hidden"  value="https://mediavillavicencio.herokuapp.com/registro/cheking/" >
            <br>
            <br>
            </span> <input class="btn btn-lg btn-info p-3 mb-5 animated pulse infinite" type="submit"  value="Completar Inscripción">
          </form> -->