{% extends 'index.html' %}
{% block header%}
{% load staticfiles %}
<header id="mobil_head">
	<div class="container-fluid">
		
			<nav class="pt-md-1 d-lg-flex" style="border-bottom: 3px solid black;background-color: rgba(51,255,50,0.9);padding-right:5%;padding-left:5%;position:fixed;width: 100%;left:0px;top:0px">

			<div class="col-md-5">
				<div class="col-md-12">
					<div id="logo">
						<a href="{% url 'index'%}"><img src="{% static 'images/logo.png'%}" width="35%"></a>
						
							
						<h1> <a href="{% url 'index'%}"><span class="text-info"><strong>MEDIA</strong></span><span style="color:#303030;font-weight: bold">  MARATÓN</span><span class="text-danger" style="font-weight: bold"> VILLAVICENCIO </span></a>  </h1>			
				
					</div>
					</div>
					<div class="col-md-12">
						<h6 class="text-left" style="color:#303030;font-weight: bold"> <br> ABRIL 7 2019 </h6>	
					</div>
			</div>

			<div class="col-md-7 text-right"> 
				<div id="logo_header">
							<a href="https://www.imdervillavicencio.gov.co"><img data-aos="flip-left" data-aos-duration="1000" src="{% static 'images/logo_imder.png'%}" width="15%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>		
							<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="1000" src="{% static 'images/Logo_alcaldia.png'%}" width="15%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>
							<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="2000" src="{% static 'images/logo_federacion.png'%}" width="17%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
							<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="3000" src="{% static 'images/Logo_liga_2.png'%}" width="14%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
				</div>
					
						<ul class=" mt-lg-1 text-left" id="main_menu">	
						<div class=" col-md-12 p-1 mt-1 bg-info">
							</div>
						<li class="active"><a  href="{% url 'index'%}"><span class="fa fa-home blue_icon text-dark"></span>  Inicio</a></li>
						<li class="text-info">|</li>
						<li><a href="{% url 'registro:listado_atletas' %}"><span class="fa fa-user-shield blue_icon text-dark"></span> 
						Ver Atletas</a></li>
						</ul>		
							
			</nav>		
		</div>
	</div>	
</header>
<header id="mobil_head_2">
	<div class="container" style="border-bottom: 3px solid black;background-color: rgba(51,255,50,0.9);padding-left:5%;position:fixed;left:0px;top:0px">
		<div class="row">
			<div class="col-sm-6 text-center">
					
						<a href="{% url 'index'%}"><img src="{% static 'images/logo.png'%}" width="35%"></a>
						<h4 style="color:#303030;font-weight: bold"> ABRIL 7 2019 </h4>
						<!-- <h3> <a href="{% url 'index'%}"><span style="color:#006600"><strong>MEDIA</strong></span>  MARATON<span class="text-danger" style="font-weight: bold"> VILLAVICENCIO</span></a> <br> </h3> -->	
										<div id="logo_header" class="pb-2">
								<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="1000" src="{% static 'images/Logo_alcaldia.png'%}" width="15%"  class="img-fluid rounded" style="background-color: #f2f2f2"></a>
								<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="2000" src="{% static 'images/logo_federacion.png'%}" width="17%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
								<a href="http://www.coc.org.co/national-federations/federacion-colombiana-de-atletismo/"><img data-aos="flip-left" data-aos-duration="3000" src="{% static 'images/Logo_liga_2.png'%}" width="14%" class="img-fluid rounded" style="background-color: #f2f2f2"></a>
						</div>		
			
		
				</div>
		<nav class="d-lg-flex text-right"  style="position: fixed;float: left">
			<label for="drop" class="toggle bg-primary" ><span class="fa fa-bars "></span></label>
			<input type="checkbox" id="drop" />
			<ul class="menu mx-5 mt-lg-4 ml-auto">
								<li class="active"><a  href="{% url 'index'%}"><span class="fa fa-home blue_icon text-dark"></span>  Inicio</a></li>					
								<li><a href="{% url 'registro:listado_atletas' %}"><span class="fa fa-user-shield blue_icon text-dark"></span> 
								Ver Atletas</a></li>
			</ul>
		</nav>
			</div>
		</div>
</header>

{% endblock %}

{% block banner %}
{% endblock %}
{% block content %}

<!-- style="background-color: #f2f2f2f2" -->
{% load staticfiles%}


<section id="registro" style="padding-top:15%;background-color:#303030;background-image: url('{% static 'images/banner2.jpg' %}');  background-repeat: no-repeat;  background-attachment:fixed;  background-position: center; ">	

	<div class="container mx-xs-0 mx-md-5 py-5" style="border-style: solid;border-color:#303030 ;border-width:2px;position:relative;background-color: rgba(51,175,255,0.8);border-radius: 15px;" >
		<div class="row">
			<div class="col-md-12  text-center ">
					<h1 class="text-uppercase"><span class="fa fa-address-book p-3" style="font-size:45pt" ></span> Inscripción de atletas </h1>
			</div>
			<div class="col-md-6 offset-md-3 text-center " >
				<p style="color:rgb(40,40,40);()">Diligencia el siguiente formulario para registrarte en el evento, si correras la media maratón, posterior al registro deberas usar el boton de pago para completar la inscripción.</p>
			</div>
			<div class="col-md-10 mt-5 offset-md-1 text-left">
				{% if form %}
					<form class="form" method="POST" >
						{% csrf_token %}
				<div class="container-fluid ">
					<div class="row">
							<div class="col-md-5 m-4 text-left border-top">	
									
										<h5 class="my-3"><span class="fa fa-clipboard-list"></span> Nombre</h5>

										{{form.nombre_atleta}}

										<h5 class="my-3"><span class="fa fa-clipboard-list"></span> Apellido</h5>
										{{form.apellido_atleta}}
									

							</div>																			
							<div class="col-md-5 m-4 text-left border-top">	
									<h5 class="my-3"><span class="fa fa-address-card"></span> Numero de identificacion</h5>
										{{form.identificacion_atleta}}
										<p id="alerta_cedula" style="color:red"></p>
							
										<h5 class="my-3"><span class="fa fa-address-card"></span> Edad</h5>
										{{form.edad_atleta}}
										<p id="alerta_edad" style="color:red"></p>			

							</div>
							<div class="col-md-5 m-4 text-left border-top">
										
										<h5 class="my-3"><span class="fa fa-burn"></span> Tipo de sangre (RH)</h5>
										{{form.tipo_sangre_atleta}}
										
										
										<h5 class="my-3"><span class="fa fa-restroom"></span> Genero</h5>
										{{form.sexo_atleta}}

							</div>
							<div class="col-md-5 m-4 text-left border-top">
				   							<h5 class="my-3"><span class="fa fa-map-marker-alt"></span> Direccion residencial</h5>	
												{{form.direccion_atleta}}
											
												
												<h5 class="my-3"><span class="fa fa-code-branch"></span> Carerra</h5>
												{{form.carrera_atleta}}
							</div>
							
							<div class="col-md-5 m-4 text-left border-top">
										<h5 class="my-3"><span class="fa fa-calendar-day"></span> Fecha de nacimiento</h5>
										<input type="date" name="nacimiento_atleta" class="form-control">
										
										
										<h5 class="my-3"><span class="fa fa-tshirt"></span> Talla de camiseta</h5>
										{{form.talla_atleta}}

							</div>
							<div class="col-md-5 m-4 text-left border-top">
										<h5 class="my-3"><span class="fa fa-envelope"></span> Correo Electronico</h5>
										{{form.correo_atleta}}
										<p id="alerta_correo" style="color:red"></p>
										
										<h5 class="my-3"><span class="fa fa-mobile-alt"></span> Numero Telefonico</h5>
										{{form.telefono_atleta}}
										
									
							</div>

							<div class="col-md-5 m-4 text-left bg-warning p-5 border-top" style="border-radius: 15px;">
										<h5 class="my-3"><span class="fa fa-briefcase-medical"></span> En case de emergenia debemos llamar a:</h5>
										{{form.nombre_emergencia_atleta}}					
								
											<h5 class="my-3"><span class="fa fa-briefcase-medical"></span> Numero telefonico de contacto de emergencia</h5>
										{{form.telefono_emergencia_atleta}}
										
									
							</div>

							<div class="col-md-5 m-md-4 m-xs-1 text-left bg-warning p-5 border-top" style="border-radius: 15px;">
																        	
									 	
									 	<h5 class="mt-3"><span class="fa fa-check"></span> He leido y acepto la exoneración de responsabilidad </h5>

									 	<button type="button" class="btn btn-info mt-3 animated pulse infinite" data-toggle="modal" data-target="#myModal"><span class="fa fa-file-signature"></span> Exoneración de respondabilidad</button>
									 

										<input type="checkbox" name="" required="" oninvalid="this.setCustomValidity('Debes aceptar la exoneración de respondabilidad')" oninput="setCustomValidity('')" class="mt-5" style="position: relative;float:right;width:35px;height: 35px;background-color: #f2f2f2">	

									   
												
							</div>
									<input type="hidden" name="categoria_atleta" id="categoria">
					
							<div class="col-md 12 m-5 text-center">
										<button type="submit" class="btn btn-lg btn-success mt-6 animated pulse infinite" id="boton-registro">Registrarse</button>
										</div>
							</div>
						</div>
					</div>
		</form>
				{% endif %}
					
					
					
			</div>	
		</div>
	</div>


</section>

<div class="container-fluid">  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header bg-info text-center p-4">
          
          <h4 class="modal-title"> <span class="fa fa-file-signature"></span> EXONERACIÓN DE RESPONSABILIDAD</h4>
        </div>
        <div class="modal-body" style="background-color: #f2f2f2">
          

          	<p class="text-justify" style="font-size:11pt;color:#303030;font-family:'catamaran'"> <span class="fa fa-arrow-right animated pulse infinite" style="font-size: 13pt"></span> En pleno uso de mis facultades físicas y mentales,<strong> Declaro que de forma voluntaria he decidido participar en la MEDIA MARATON CIUDAD DE VILLAVICENCIO Y 10K  el 7 de Abril   de 2019 </strong> y que estoy en perfectas condiciones físicas, mentales y de salud óptimas, así como adecuadamente entrenado para realizar dicho esfuerzo físico. </p>
          	<br>

          <p class="text-justify" style="font-size:11pt;color:#303030;font-family:'catamaran'"> <span class="fa fa-arrow-right animated pulse infinite" style="font-size: 13pt"></span> Aceptaré cualquier decisión de la organización de la carrera sobre mi participación en la misma. </p>
          <br>

          <p class="text-justify" style="font-size:11pt;color:#303030;font-family:'catamaran'"> <span class="fa fa-arrow-right animated pulse infinite" style="font-size: 13pt"></span> Asumo todos los riesgos asociados con la participación en esta carrera incluyendo, pero no limitadas a caídas, demás accidentes, enfermedades generadas ya sea  por  el  contacto  directo con  otros participantes  o por consecuencias del clima (incluyendo pero no limitadas a temperatura y/o humedad) Tránsito vehicular y condiciones del camino, y acepto en general todo riesgo asociado, los cuales declaro conocidos y valorados por mí al momento de inscribirme en la carrera. </p>
          <br>

          <p class="text-justify" style="font-size:11pt;color:#303030;font-family:'catamaran'"> <span class="fa fa-arrow-right animated pulse infinite" style="font-size: 13pt"></span> Habiendo leído esta declaración, conociendo los riesgos y considerando que los acepto por el hecho de participar en la carrera, yo, en mi nombre y en el de cualquier persona que actúe en mi representación exonero a los organizadores de la MEDIA MARATON CIUDAD DE VILLAVICENCIO Y 10K  , voluntarios, sus aliados estratégicos, patrocinadores y/o sus representantes y sucesores de todo reclamo o responsabilidad de cualquier tipo que surja en consecuencia de mi participación en este evento aún cuando esta responsabilidad pueda presentarse por negligencia de parte de las entidades y/o personas nombradas en esta declaración, así  como  de cualquier extravió robo y/o hurto que pudiese sufrir. </p>
          <br>

          <p class="text-justify" style="font-size:11pt;color:#303030;font-family:'catamaran'"> <span class="fa fa-arrow-right animated pulse infinite" style="font-size: 13pt"></span> <strong>Autorizo a los organizadores, patrocinadores, y sus representantes al uso de la información de registro, fotografías, películas, videos, grabaciones y cualquier otro medio de registro de este evento para cualquier uso  legítimo y para los fines adecuados que estos convengan, sin compensación u obligación económica alguna.</strong></p>
          <br>
	
        </div>
        <div class="modal-footer bg-warning">
          <button type="button" class="btn btn-danger animated pulse infinite" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


<script type="text/javascript" src="../static/js/validation.js"></script>

{% endblock%}

